<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    
    <div class="container-fluid">
        {% if rooms %}
        <div class="col-md-6 m-2">
            {% for room in rooms %}
            <div class="col-12">
                <h3>{{ room.display_name }}</h3>
            </div>

            <div class="col-12 border-bottom p-2">
                {% for device in device_list %}
                    {% if device.room == room %}
                    {% if device.state %}
                    <button type="button" id="{{ device.name }}" name="{{ device.name }}" class="btn btn-warning">{{ device.display_name }}</button>
                    {% else %}
                    <button type="button" id="{{ device.name }}" name="{{ device.name }}" class="btn btn-secondary">{{ device.display_name }}</button>
                    {% endif %}
                {% endif %}
                {% endfor %}

            </div>
            {% endfor %}
        </div>
          {% else %}
          <p>No rooms available.</p>
          {% endif %}

            {% block content %}
            {% endblock %}
        </div>
    </div>
    {{ room_name|json_script:"room-name" }}
    <script>

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        console.log(roomName)


        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/deviceControl/'
            + roomName
            + '/'
        );

        console.log(chatSocket.url)

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log("recieved message")
            console.log(data)
            console.log(data.message.state)
            

            if(data.message.state) {
                console.log('Its trueeeee')
                $(`#${data.message.id}`).removeClass( "btn-secondary" ).addClass( "btn-warning" );
                
            } else {
                console.log('Its false')
                $(`#${data.message.id}`).removeClass( "btn-warning" ).addClass( "btn-secondary" );
            }
            
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        function isWebSocketOpen(webSocket) {
            return webSocket.readyState === WebSocket.OPEN;
        }

        $('button').on('click', function(e) {
            console.log(`ButtonID on click = ${e.target.id}`)
            

            // Before send, check if socket is open

            chatSocket.send(JSON.stringify({
                'message': {
                    'type': 'sonoff',
                    'deviceId': e.target.id
                } 
            }));
        })


        document.addEventListener("visibilitychange", () => {
            
            const d = new Date();
            let time = d.getTime();
            if(document.visibilityState === 'visible') {

                var connectionOpen = isWebSocketOpen(chatSocket);
                console.log(`Visible ${time}: Is connection open?? ${connectionOpen}`)

                if(!connectionOpen) {
                    console.log("Connection closed, must re-connect");
                    location.reload();
                }


            } else {
                console.log(`Not visible. Time is ${time}`);
            }
        })

        /*
        window.addEventListener("focus", () => {
            console.log("Window in FOCUS!!!!");
        })

        window.addEventListener("focus", () => {
            console.log("Window out of focus");
        })
            */

    </script>
</body>

</html>