<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>

    <div class="container-fluid">

        <div class="col-4">
            {% if device_list %}
            <ul class="nav bg-info">
                {% for device in device_list %}
                <li class="nav-item">
                    {% if device.state %}
                    <button type="button" id="{{ device.name }}" name="{{ device.name }}" class="btn btn-warning">{{ device.display_name }}</button>
                    {% else %}
                    <button type="button" id="{{ device.name }}" name="{{ device.name }}" class="btn btn-secondary">{{ device.display_name }}</button>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No devices are available.</p>
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
    </div>


    <script>

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/deviceControl/'
        );


        // Toggle button
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log("WE GOT A RESPONSE!!!")
            console.log(data.id)

            if (data.state) {
                console.log("It's true then!!!!")
                $(`#${data.id}`).removeClass('btn-secondary')
                $(`#${data.id}`).addClass('btn-warning')
            } else {
                console.log("It's false then!!!!")
                $(`#${data.id}`).removeClass('btn-warning')
                $(`#${data.id}`).addClass('btn-secondary')
            }

        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        
        $( 'button' ).on( "click", function(e) {
            console.log("BUTTON CLICKED")
            console.log(`ButtonID: ${e.target.id}`)
            chatSocket.send(JSON.stringify({
                'id': e.target.id
            }));
        });
        
    </script>
    
</body>

</html>